@import url(http://fonts.googleapis.com/css?family=Sirin+Stencil|Vast+Shadow);
body {
  background: lightyellow;
}
#mainWrap {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  width: 500px;
  height: 670px;
  box-shadow: inset 0px 0px 10px;
  border-radius: 5px 5px 10px 10px;
  background: rgba(0, 109, 39, 0.25);
}
h1 {
  font-family: 'Sirin Stencil', cursive;
  font-size: 6em;
  margin: 12px 0px;
}
button {
  margin: 5px;
  border-radius: 5px;
  background: rgba(70, 130, 180, 0.8);
  color: #fff;
  border: none;
  box-shadow: 0px 2px 3px black;
}
.letters {
  font-family: 'Vast Shadow', cursive;
}
.cell {
  border: none;
  border-radius: 5px;
  height: 100px;
  width: 75px;
  float: left;
  margin: 3px;
  box-shadow: 0px 3px 5px;
  background: lightyellow;
}
.row {
  height: 103px;
  width: 405px;
  margin: auto;
}
