doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body(style='background-image:url("'+record.cover+'")')
    .row
      .small-12.columns
        h1=title
        h3=moment(record.taken).format('MMMM Do, YYYY')
    .row
      .small-4.columns
        a.button(href='/') Home
      .small-8.columns
        form(action='/albums/'+ record._id.toString(), method='post', enctype='multipart/form-data')
          fieldset
            legend New Photo
            .row
              .small-6.columns
                label Photo
                input(type='file', name='photo')
                input(type='hidden', name='title', value=title)
              .small-6.columns
                button.small.radius Add Photo

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

