doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Node-Mongo-ToDo App
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/priorities.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Node-Mongo-ToDo App
   
    .row
      .small-3.columns
          input#priority(type='text', placeholder='Priority Name', autofocus=true)
      .small-3.columns
          select#value
            option(value='', disabled='disabled', selected='selected') Select a Value
            option(value='3') 3
            option(value='2') 2
            option(value='1') 1
      .small-3.columns
        button#savebtn.tiny.radius Save Priority
      .small-3.columns

    .row
      .small-12.columns
        table#table
          thead
            tr
              th Update
              th Priority
              th Value
              th Delete
              th
          tbody


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

