doctype html
html
  head
    meta(charset="utf-8")
    title Memory Game
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/vendor/jquery.js")
    script(src="/js/source/main.js")
  body
    #mainWrap
      h1 Memory
      button#play Play
      .row#one
        .cell
        .cell
        .cell
        .cell
        .cell
      .row#two
        .cell
        .cell
        .cell
        .cell
        .cell
      .row#three
        .cell
        .cell
        .cell
        .cell
        .cell
      .row#four
        .cell
        .cell
        .cell
        .cell
        .cell




