doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gadget Express
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Gadget Express
    form#userForm
      fieldset
        .row
          .small-3.columns
            .row
              .small-12.columns
                label User Name
                  input#username(type='text', name="name", autofocus=true)
            .row
              .small-12.columns
                label Deposit
                  input#deposit(type='text', name="balance")
            .row
              .small-12.columns
                button#createUser(name="createuser").tiny.radius Create User
          .small-9.columns
            label &nbsp;
              table#userTable
                thead
                  tr
                    th User
                    th Balance
                    th Purchases
                tbody

    form#gadgetForm
      .row
        .small-3.columns
          .row
            .small-12.columns
              label Gadget Name
                input#username(type='text', name="name")
          .row
            .small-12.columns
              label Price
                input#deposit(type='text', name="price")
          .row
            .small-12.columns
              label Stock
                input#stock(type='text', name="stock")
          .row
            .small-12.columns
              button#createGadget(name="creategadget").tiny.radius Create Gadget
        .small-9.columns
          label &nbsp;
            table#gadgetTable
              thead
                tr
                  th Buy
                  th Gadget
                  th Price
                  th Stock
                  th User
                  th Qty
                  th Submit
              tbody

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

